
{%  extends "mypage.html" %}


{% block pagetitle %}

    {{product.pname}}

{% endblock %}

{% block test %}

<table border="0">

    <form action="addToCart">

    <tr>
        <td>Name</td>
        <td>{{product.pname}}</td>
    </tr>

    <tr>
        <td>Desc</td>
        <td>{{product.desc}}</td>
    </tr>

    <tr>
        <td>Price</td>
        <td>{{product.price}}</td>
    </tr>

     <tr>
        <td>Quantity</td>
        <td>
             <input type="hidden"  name="id" value={{product.id}}>
            <input type="text" name="qty">
        </td>
    </tr>

     <tr>
        <td></td>
        <td><input type="submit" value="Add Item To Cart"></td>
    </tr>



</form>
</table>


{% endblock %}
